doctype html
html
  head
    title= title
    block css
      link(rel='stylesheet', href='/stylesheets/common.css')

  body
    block main

    block js
      script(src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js")

