doctype html
html
  head
    title= title
    block css
      link(rel='stylesheet', href='/stylesheets/common.css')

  body
    block main

    block js
      script(src="https://cdn.bootcss.com/jquery/3.1.0/jquery.js")

