extends layout

block content
  .wrapper
    .wrapper-head
      span.active 待解决
      span 已解决
      span 我的问题
    .question-list
      .question-info
        ul
         li 发表时间
         li 标题
         li 发起人
      each question in questions
        p
          = moment(question.created).format('YYYY-MM-DD')
        p
          = question.title
        p
          = question.article
        p
          = question.author
         