extends ../layout

append css
  link(rel='stylesheet', href='/stylesheets/style.css')

block main
  block header
    header.header
      div.header-content
        a(href="/")
          |ZY1390 Question System

  block content

  block footer
    footer
      p NodeBlog by WUSO01 
      p
        a(href="#") Back to top

