extends ../layout

append css
  link(rel='stylesheet', href='/stylesheets/style.css')

block main
  block header
    header
      div.header-content.flex-row
        div.header-left
          a(href="/")
            |ZY1390 Question System
          input(type="text", placeholder="请输入标题关键字")
          button 搜索
        div.header-right
          ul.flex-row
            if current_user
              li
                a(href="/creat") 发布新问题
              li
                a(href="/list") 问题列表
              li
                a(href="/") 员工列表
              li
                a(href="/") #{current_user}
            else
              li
                a(href="/login") 登录
              li
                a(href="/register") 注册
        

  block content

  block footer
    //- footer
    //-   p NodeBlog by WUSO01 
    //-   p
    //-     a(href="#") Back to top

