extends layout

block content
  .sign-register
    form(action="/sign" method="post")
      div
        label(for="") 邮箱
        input(type="email" name="email")
      div
        label(for="") 密码
        input(type="password" name="password")
      button(type="submit") 登录