extends layout

block content
  .sign-register
    form(action="/register" method="post")
      div
        label(for="") 用户名
        input(type="text" name="name")
      div
        label(for="") 邮箱
        input(type="email" name="email")
      div
        label(for="") 密码
        input(type="password" name="password")
      div
        label(for="") 确认密码
        input(type="password" name="re_password")
      button(type="submit") 注册